In [33]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split

df = pd.read_csv("D:/인공지능개론/titanic.csv", index_col=0)
#LabeEncoder 불러오기
label_encoder=LabelEncoder()

#컬럼 삭제
df.drop(columns=['Ticket', 'Cabin', 'Name', 'Embarked'], inplace=True)

#결측치 평균값으로 채우기
df['Age']=df['Age'].fillna(df['Age'].mean())
df

             Survived  Pclass     Sex        Age  SibSp  Parch     Fare
PassengerId
1                   0       3    male  22.000000      1      0   7.2500
2                   1       1  female  38.000000      1      0  71.2833
3                   1       3  female  26.000000      0      0   7.9250
4                   1       1  female  35.000000      1      0  53.1000
5                   0       3    male  35.000000      0      0   8.0500
...               ...     ...     ...        ...    ...    ...      ...
887                 0       2    male  27.000000      0      0  13.0000
888                 1       1  female  19.000000      0      0  30.0000
889                 0       3  female  29.699118      1      2  23.4500
890                 1       1    male  26.000000      0      0  30.0000
891                 0       3    male  32.000000      0      0   7.7500

[891 rows x 7 columns]

In [34]:
#결측치 확인
df.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
dtype: int64

In [35]:
#개수 세기
df['Survived'].value_counts()

Survived
0    549
1    342
Name: count, dtype: int64